h1{
    font-size: 30px;
    color: #696969;
    text-align: center
      }

h2{
    font-size: 20px;
    color: #696969;
    margin-left: 30px;
  
      }

main{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #40e0d0;
            
}

.add {
    height: 20px;
    display: inline;
    margin-left:20px;
    padding: 0px;
    border-radius: 10px;
}    

#myInput{
    margin-right: 10px;
    height: 30px;
}    

button {
    display: inline;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 20px;
    background-color: #48d1cc;
    box-shadow: 2px 2px #e0ffff;
  

      }
   

    